@{
    ViewData["Title"] = "Destinations";
}

<div class="container">
    <div class="col-1">
        <h1>Destinations</h1>
        <p>Lorem asd sss orem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sssorem asd sss </p>
    </div>
    <div class="col-2">
        <section></section>
         <h2>Visited</h2>
        <p>Some of the destinations I have visited:</p>
            <ul>
            @foreach (var destination in Model)
            {
                <li class="li-items"><a href="@destination.DestinationUrl">@destination.DestinationName</a></li>
            }
            </ul>    
        </section>
    </div>
</div>