@model IEnumerable<DennisMvc.Models.Destinations>
@{
    ViewData["Title"] = "Home";
    
    
}
<div class="container">
    <div class="col-1">
        <h1>Home</h1>
        <p>This is a website created for 'Moment 2' where I practise different methods to pass data to my views, creating controllers and modells and also writing out some data from a json file.</p>
        <p>In the 'container' next to this one I demonstrate some simple example of me using 'ViewBag' and 'ViewData' to display some information!</p>
    </div>
    <div class="col-2">
      <h2>@ViewBag.Heading</h2>
      <p>@ViewBag.Text</p>
        <div class="error">
       <p>@ViewData["ErrorMessage"]</p> 
        </div>
    </div>
</div>
